<!--prettier-ignore-->
#errorCatcher Echo
#encoding UTF-8

<!DOCTYPE html>
<html lang="$lang">
  <head>
    #include "includes/html-head.inc"
    <title>$station.location - Forecast</title>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/version/v1.21.0/notification.min.js"
    ></script>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/version/v1.21.0/code-snippet.min.js"
    ></script>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon-for-ibm-dotcom/version/v1.19.0/image-with-caption.min.js"
    ></script>
    <script
      type="module"
      src="https://1.www.s81c.com/common/carbon/web-components/version/v1.21.0/tabs.min.js"
    ></script>
  </head>

  <body class="theme-classic">
    

    <!--@see https://github.com/carbon-design-system/carbon/blob/v10/packages/type/scss/modules/_styles.scss#L628-->
    <main>
      <section>
        <div class="bx--grid bx--grid--full-width">
         
          
          
          
          #include "includes/forecast.inc"
             
   
    
          
        </div>
      </section>
    </main>

    

    <script src="$get_base_path(path='dist/main.js')" defer></script>
  </body>
</html>
